.default-color1.chart-series-line { -fx-stroke: transparent; }
.default-color2.chart-series-line { -fx-stroke: transparent; }
.default-color3.chart-series-line { -fx-stroke: transparent; }
.default-color0.chart-series-line { -fx-stroke: black; }

.default-color1.chart-line-symbol {
    -fx-background-color: gray, gray;
}
.default-color2.chart-line-symbol {
    -fx-background-color: blue, blue;
}
.default-color3.chart-line-symbol {
    -fx-background-color: black, white;
    -fx-shape: "M 100 100 a 50 50 0 1 0 0.00001 0";
    -fx-display: inline-block;
}
.default-color0.chart-line-symbol {
    -fx-background-color: transparent, transparent;
}

.default-color1.chart-legend-item-symbol{
    -fx-background-color: gray;
}
.default-color0.chart-legend-item-symbol{
    -fx-background-color: black;
}
.default-color2.chart-legend-item-symbol{
    -fx-background-color: blue;
}
.default-color3.chart-legend-item-symbol{
    -fx-background-color: black;
}